/* start your css here */
body{
    background-color: black;
    align-self:center ;
}
.first{
    width: 600px;
    height: 600px;
    border:4px solid white;
    background-color:black;
}
h1{
    color: white;
}
.inp{
    width: 450px;
    height: 55px;
    padding: auto;
    margin-top: 20px;
}
#checkbox{
    margin-left: 50px;
    width: 30px;
    height: 30px;
    text-align: left;
    border-radius: 10px;
    margin-top: 20px;
}
.label{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: large;

}
button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;

}