/* start your styling here  */
.outer{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 101, 199);
    border-radius: 10px;
     box-shadow: 5px 5px 5px rgb(56, 140, 169);
}
.inner{

    border: 1px solid blueviolet;
     box-shadow: 0px 2px 3px rgb(44, 11, 72);
    width: 300px;
    height: 400px;
    background-color: rgb(235, 52, 88);
    border-radius: 10px; 
     display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 2px;
}

p{

 border: 1px solid blueviolet;
     box-shadow: 0px 2px 3px rgb(44, 11, 72);
width: 50px;
height: 30px;
text-align: center;
border-radius: 8px;
 background-color: rgb(48, 101, 199);
 color: white;
 font-size: larger;
 margin-top: 2px;
}
#zero{
    width:200px;
    height: 30px;
    text-align: right;
   
}